/* Body */
body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

input {
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: none;
}

.page-title,
.title,
.sub-title,
.text {
    margin: 0;
}

/* Typography */
.page-title {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #ffffff;
    font-family: 'Roboto', Arial, sans-serif;
}

.title {
    font-size: 1.7rem;
    margin-bottom: 1.1rem;
    color: #ffffff;
    text-transform: capitalize;
}

.sub-title {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1.1rem;
    text-transform: capitalize;
}

.text {
    font-size: 1.25rem;
    color: #ffffff;
    margin: 0;
    text-transform: lowercase;
}
.text-info::first-letter {
    text-transform: uppercase;
}

.label-text {
    font-size: 1.25rem;
    font-weight: lighter;
    color: #E3F2FD;
}
.form-control {
    font-size: 1.5rem;
    font-weight: normal;
    color: #304FFE;
}

/* Layout */
.container-fluid {
    max-width: 100vw;
    min-height: 80vh;
}
.waves-container {
    position: relative;
}
.waves-container > svg {
    position: absolute;
    z-index: -1;
}
.container {
    width: min(1320px, 100%);
    margin-left: auto;
    margin-right: auto;
}

/* Sections */
.header, .main {
    max-width: 100vw;
}
.header {
    padding: 2rem 0;
}
.game {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

/* Components */
.game-board {
    display: none;
    grid-template-rows: repeat(3, 7.5rem);
    grid-template-columns: repeat(3, 7.5rem);
    justify-content: center;
    border-collapse: collapse;
    margin: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.player-info {
    display: none;
    width: 22.5rem;
    text-align: center;
    padding: 1rem 0;
    background-color: #2979FF;
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.player-info::first-letter {
    text-transform: uppercase;
}

.cell {
    font-size: 4rem;
    background-color: #FBFBFB;
    color: #304FFE;
    border-color: #304FFE;
    cursor: pointer;
}
.cell:hover,
.cell:active {
    background-color: #E3F2FD;
}
.btn {
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    border: none;
    display: inline-block;
    margin: 1rem;
}
.btn-reset {
    background-color: #ffffff;
    border: 2px solid #332D2D;
    color: #332D2D;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 0.3rem;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
.btn-reset:hover,
.btn-reset:active {
    background-color: #332D2D;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
}
.btn-primary {
    display: flex;
    margin: auto;
    background-color: #3B71CA;
    color: #ffffff;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 0.3rem;
    transition: box-shadow 0.3s;
}
.btn-primary:hover,
.btn-primary:active {
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
}

.set-name {
    margin: 3rem 0;
}

.form-row {
    width: min(800px, 80%);
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
}

.form-group {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
}

.form-control {
    max-width: 100%;
    background-color: #E3F2FD;
    transition: background-color 0.3s ease-in-out;
}
.form-control:focus {
    background-color: white;
}